.sectionWrapper {
  background-color: #f5ebdd2a;
  padding: 30px 0;
  background-color: #f5ebdd49;
}

.sectionWrapper h2 {
  padding: 0px 40px 15px;
  font-size: 24pt;
}

.containerWrapper {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 40px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.actionBtns {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 16px;
}

.actionBtns button {
  background-color: transparent;
  color: #151515;
  font-size: 20pt;
}

@media screen and (min-width: 992px) {
  .containerWrapper {
    overflow-x: auto;
    scroll-behavior: smooth;
  }
}
