.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px) brightness(70%);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 400px;
  background-color: #ffffff;
  color: #151515;
  padding: 20px;
  border-radius: 8px;
  box-shadow: #15151549;
  z-index: 1000;
  overflow: hidden;
}

.modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  color: #242424;
  cursor: pointer;
}

.modalContent {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

.confirmationBtns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.confirmationBtns button {
  width: 120px;
  height: 36px;
  border: none;
  border-radius: 5px;
  background-color: #f2a97e;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.confirmationBtns button:hover {
  background-color: #db7e48;
}
