.sectionWrapper {
    background-color: #151515;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    padding: 30px 40px;

}

.sectionWrapper p {
    color: rgb(255, 255, 255);
    margin: 0;
}

.logo {
    width: 150px;
    margin-bottom: 30px;
}