h2, h3 {
  margin: 0;
}

h2 {
  font-size: 24pt;
  line-height: 1.2;
}

p {
  color: #151515;
}

/* #root {
  
} */


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */
